* {
    font-family: 'Arial', 'Helvetica', sans-serif;
    box-sizing: border-box;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    background-image: url("../assets/backgroundimg0.jpg");
}

h1 {
    text-transform: uppercase;
    word-spacing:10px;
    letter-spacing: -3px;
    text-shadow: 2px 2px 5px yourcolor;
    margin-bottom: 0 #54ABD3

}
.intro {
  font-size: 1.5em; 
  margin-top: 0;    
  text-decoration: underline; 
}

section img:firstchild {
    display: block;
    width: 25vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    padding-top

.container img {
    width: 50px;
    height: 50px;
    margin-right:  10px;
    float: left;
}
 
}

